name: Deploy Nightly
on: [push]

jobs:
  nightly:
    name: Test deploy-nightly functionality
    runs-on: ubuntu-latest
    steps:
      ... # build your asset first

      - name: Deploy README to v1.0.0 to test functionality
        uses: ./
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # automatically provided by github actions
        with:
          upload_url: https://uploads.github.com/repos/WebFreak001/deploy-nightly/releases/20757681/assets{?name,label} # find out this value by opening https://api.github.com/repos/<owner>/<repo>/releases in your browser and copy the full "upload_url" value including the {?name,label} part
          release_id: 20757681 # same as above (id can just be taken out the upload_url, it's used to find old releases)
          asset_path: ./README.md # path to archive to upload
          asset_name: test-nightly-upload-$$.md # name to upload the release as, use $$ to insert date (YYYYMMDD) and 6 letter commit hash
          asset_content_type: text/plain # required by GitHub API
          max_releases: 2 # optional, if there are more releases than this matching the asset_name, the oldest ones are going to be deleted
